@import url("https://fonts.googleapis.com/css2?family=Khula:wght@600;800&display=swap");

html,
body {
  margin: 0;
  max-width: 99vw;
}

::selection {
  color: white;
  background: #2d2926;
}

header {
    width: 99vw;
    white-space: nowrap;
}

header h1 {
  /* positioning I SHOULD SWITCH TO DISLPAY FLEX OR BBLOCK !!!! */
  position: fixed; /* or absolute */
  top: 30%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);

  /* style */
  color: #2d2926;
  font-family: "Khula", sans-serif;
  font-size: 5rem;
  font-weight: 800;

}

header h3 {
  /* positioning */
  position: fixed; /* or absolute */
  top: 38%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);

  /* style */
  color: #2d2926;
  font-family: "Khula", sans-serif;
  font-size: 2rem;
  font-weight: 600;

  w
}

footer {
  position: fixed; /* or absolute */
  top: 90%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);

  font-size: 1.5rem;
  display: flex;
  justify-content: space-evenly;
  width: 100%;

}

footer:first-child {
    left: 20%;
    color: #2d2926;
}

footer:last-child {
    left: 80%;
}

a:link {
  color: #2d2926;
  text-decoration: none;
}

a:visited {
  color: #2d2926;
    
  }

  a:hover {
    color: #C1D0EB;
  }

  a:active {
  }

  