@import url("https://fonts.googleapis.com/css2?family=Khula:wght@600;800&display=swap");


html,
body {
  margin: 0;
  max-width: 99vw;
  max-height: 99vh;
}

::-webkit-scrollbar {
  display: none;
}

img {
  height: 24px;
}

::selection {
  color: white;
  background: #2d2926;
}

.container {
  position: fixed; /* or absolute */
  top: 7%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;

  font-size: 2rem;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.logos {
  width: 20%;
  display: flex;
  justify-content: space-around;
}

header {
    width: 99vw;
    white-space: nowrap;
}

header h1 {
  /* positioning I SHOULD SWITCH TO DISLPAY FLEX OR BBLOCK !!!! */
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* style */
  color: #2d2926;
  font-family: "Khula", sans-serif;
  font-size: 8vw;
  font-weight: 800;
}

header p {
  /* positioning I SHOULD SWITCH TO DISLPAY FLEX OR BBLOCK !!!! */
  position: fixed;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* style */
  color: #2d2926;
  font-family: "Khula", sans-serif;
  font-size: 3vw;
  font-weight: 400;
}

footer {
  position: fixed; /* or absolute */
  top: 93%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 2rem;
  display: flex;
  justify-content: space-around;
  width: 100%;

}

footer:first-child {
    left: 20%;
    color: #2d2926;
}

footer:last-child {
    left: 80%;
}

a:link {
  color: #2d2926;
  text-decoration: none;
}

a:visited {
  color: #2d2926;
  }

a:hover {
  color: #C1D0EB;
  }

a:active {
  }

